
@font-face{
  src:url(../font/playfair/PlayfairDisplay-Italic.otf);
  font-family: playfair-i;
}

@font-face{
  src:url(../font/playfair/PlayfairDisplay-BoldItalic.otf);
  font-family: playfair-bi;
}

@font-face{
  src:url(../font/krinkes/KrinkesDecorPERSONAL.ttf);
  font-family: Krinkes;
}

@font-face{
  src:url(../font/lato/Lato-Bold.ttf);
  font-family: lato-bold;
}

@font-face{
  src:url(../font/lato/Lato-Regular.ttf);
  font-family: lato-reg;
}

.contact{
  font-size: 11px;
  font-family: lato-reg;
  float: left;
  width: 10.07751938%;
}

.login{
  float: right;
}

.contact-number{
  margin-left: 10px;
}

.list-inline{
  display: inline-block;
}

.no-list{
  list-style: none
}

.top-header-linkitem{
  font-size: 11px;
  font-family: lato-reg;
}


.top-header-linkitem a{
  color: black;
}

.top-header-linkitem a:hover{
  text-decoration: underline;
}

.dashed-before::before{
  content: "|";
  margin-left: 35px;
  margin-right: 35px;  
}

.nav-icon{
  width: 59.5%;
  padding-left: 5px;
  float: left;

}

.socialMedia{
  width: 25.58139535%;
  float:right;
  margin-top: 34px;
}

.nav-item a{
  color: black;
  font-size: 18px;
  font-family: playfair-i;
}

.nav-item{
  margin-right: 27px;
}

.nav-bar{
  margin-top: 27px;
  float: left;
  width: 44.65052747%;
}

.icon{
  float: right;
  font-size: 72px;
  font-family: Krinkes;
  margin-bottom: 0px;
}

.icon a{
  color: black;
}

.social-icon{
  width: 60%;
 
  float: left;
}


.currency-dropdown{
  width: 27.57575758%;

  float: right;
}

.socialicon-item a{
  font-size: 14px;
  color: #cccc99;
}


.socialicon-item{
  border-style: solid;
  border-color: #cccc99;
  padding:5px;
  padding-left:9px;
  padding-right:9px;
  border-radius: 100%;
  margin-left: 9px;
}

.socialicon-item:hover{
  background-color: black;
}

.slider{
  width: 100%;
  overflow: hidden
}

.slider img{
  width: 100%;
  margin:0px;
  padding:0px;
}



.offer-text{
  float: left;
  margin-left: 28px;
}

.offer-one{
  width:80%;
  padding-left: 35px;
  padding-top: 23px;
  padding-bottom: 22px;
}

.offer-two{
  width:80%;
  padding-left: 31px;
  padding-top: 27px;
  padding-bottom: 18px;
}

.offer-three{
  width:80%;
  padding-left: 70px;
  padding-top: 27px;
  padding-bottom: 18px;
}

.offer-title{
  font-size: 30px;
  color: white;
  font-family: lato-bold;
}


.offer-detail{
  font-size: 14px;
  color: white;
  margin-top: 5px;
  font-family: lato-reg;
}

.offer-icon{
  font-size: 48px;
  float: left;
  color: white;
}

.offers{
  width: 100%;
}

.offer ul{
  width: 100%;
}


.offer-one-list{
  width: 33.48837209%;
  background-image: url(../images/offerimage1.png);
  background-repeat: no-repeat;
}


.offer-two-list{
  width: 33%;
  background-image: url(../images/offerimage2.png);
  margin-left: -20px;
  padding-left: 32px;
  background-repeat: no-repeat;
}

.offer-three-list{
  width: 33.48837209%;
  margin-left: -20px;
  background-image: url(../images/offerimage3.png);
  background-repeat: no-repeat;
}

.sub-groups{
  font-size: 30px;
  font-family: playfair-bi;
  text-align: center;
  width: 100%;
  background: url(../images/handpickedbg2.jpg)
}

.handpicked-container{
  width: 100%;
  margin-top: 88px;
}


.handpicked-item-hover{
  width: 88.3%;
   height: 340px ;
    background: rgba(0,0,0,0.4) ; 
    position: absolute; 
    top:25px; 
    left: 18px; 
    display: none;
    
}

.handpicked-item-no-hover{
   width: 88.3%;
   height: 340px ;
   position: absolute; 
   top:25px; 
   left: 18px; 
   border-style: solid;
   border-color: white;
}

.relative-class{
  position: relative
}

.handpicked-hover-container{
  width: 100%;
}



.handpicker-list-column1 ul{
 width: 100%; 
}

.handpicker-list-column2 ul{
  width: 100%; 
  
 }

.HandPicker-item{
  width: 100%;
  overflow: hidden;
}

.HandPicker-item ul{
  width: 100%;
  overflow: hidden;
}

.handpickedImage{
  width: 100%;
}

.handpickedImage2{
  width: 100%;
}

.extra-spacing{
  margin-top: 6px;
}

.submit-button2{
  position:absolute;
  bottom: 32px;
  width: 30.79096045%;
  left:34.5%;
}





.handpicked-item-hover2{
  width: 90.3%;
  height: 764px ;
  background: rgba(0,0,0,0.4) ; 
   position: absolute; 
   top:16px; 
   left: 20px; 
  display: none
}


.handpicked-item-no-hover2{
  width: 90.3%;
 height: 764px ;
  position: absolute; 
  top:16px; 
  left: 20px; 
  border-style: solid;
  border-color: white;
}

.handpicked-column-container{
  width: 100%;
}

.handpicker-list-column2{
  margin-left: 9px;
}

.handpicker-list-column3{
  margin-left: 9px;
}


.HandPicker-item:hover div.handpicked-item-hover
{
  display: block;
} 

.HandPicker-item:hover div.handpicked-item-no-hover
{
  display: none;
} 

.HandPicker-item2:hover div.handpicked-item-hover2
{
  display: block;
} 

.HandPicker-item2:hover div.handpicked-item-no-hover2
{
  display: none;
} 



.percent-off{
  position: absolute;
  top:5px;
  left:5px;
  width: 25.66666666%;
}

.summer-list-item{
  margin-left: 12px;
}

.summer-collection-list2{
  margin-top: 13px;
}

.add-to-cart{
  position: absolute;
  top:305px;
  left:40px;
  width: 66.333333333%;
}


.add-to-cart a img:hover{
  content: url(../images/add-to-cart-hover.png)
}


.summer-collection-list1 , .summer-collection-list2{
  width: 100%;
}

.percent-off-image{
  width: 100%;
}

.add-to-cart-image{
  width: 100%;
}

.brand-item1{
  margin-left:23px;
}

.brand-item2{
  margin-left:10px;
}

.brand-item3{
  margin-left:20px;
}

.brand-list{
  margin-top: 115px;
}

.brand-list li{
  width: 14.80620155%;
}

.brand-img{
  width: 100%;
}

